@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #3cfa78;
  --color-accent: #0af0e6;

  --shadow-glass: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  --radius-xl: 1.5rem;
}

@utility glass-panel {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--shadow-glass);
}

body {
  background: radial-gradient(circle at center, #262b2f 0%, #000000 100%);
  min-height: 100vh;
  color: white;
}
